@model DeliveryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Common.Edit</h1>

<h4>@Resources.Domain.Delivery.Delivery.DeliveryUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Delivery.DeliveryTypeId" class="control-label">@Resources.Domain.Delivery.Delivery.DeliveryTypeUnit</label>
                <select asp-for="Delivery.DeliveryTypeId" class="form-control" asp-items="Model.DeliveryTypesSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.Cost" class="control-label">@Resources.Domain.Delivery.Delivery.Cost</label>
                <input asp-for="Delivery.Cost" class="form-control" />
                <span asp-validation-for="Delivery.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.Destination" class="control-label">@Resources.Domain.Delivery.Delivery.Destination</label>
                <input asp-for="Delivery.Destination" class="form-control" />
                <span asp-validation-for="Delivery.Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.DeliveredAt" class="control-label">@Resources.Domain.Delivery.Delivery.DeliveredAt</label>
                <input asp-for="Delivery.DeliveredAt" class="form-control" />
                <span asp-validation-for="Delivery.DeliveredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.Status" class="control-label">@Resources.Domain.Delivery.Delivery.Status</label>
                <input asp-for="Delivery.Status" class="form-control" />
                <span asp-validation-for="Delivery.Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Delivery.Id" />
            <input type="hidden" asp-for="Delivery.UserId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
