@using Extensions
@model ItemsViewViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-xs-12 col-md-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Index">
            <div>
                <strong>@Resources.Views.Shared._Layout.Brands</strong>
                <div class="form-group">
                    <select asp-for="BrandsFilter" class="form-control" asp-items="Model.BrandSelectList" multiple="multiple"></select>
                </div>
            </div>
            <div>
                <strong>@Resources.Views.Shared._Layout.Categories</strong>
                <div class="form-group">
                    <select asp-for="CategoriesFilter" class="form-control" asp-items="Model.CategorySelectList" multiple="multiple"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Common.Filter" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-bottom: 10px">
                    <div class="card" style="min-width: 210px">
                        <a asp-action="Details" class="product-link" asp-route-id="@item.Id">
                            <img class="card-img-top" style="height: 240px;" src="https://cdn.icon-icons.com/icons2/1678/PNG/512/wondicon-ui-free-parcel_111208.png" alt="">
                            <div class="card-body" style="color:black;" >
                                <p class="card-text" > @Html.DisplayFor(modelItem => item.Brand!.Name) @Html.DisplayFor(modelItem => item.Name)</p>
                                @if (item.Discount != 0)
                                {
                                    <div class="card-text" style="display: flex; flex-wrap: wrap;">
                                        <div style="text-decoration: line-through">@Html.DisplayFor(modelItem => item.Price)</div><div>$ -> </div>
                                        <strong style="color:red;" > @Html.DisplayFor(modelItem => item.PriceWithDiscount)$</strong>
                                    </div>
                                }
                                else
                                {
                                    <div>@Html.DisplayFor(modelItem => item.Price)$</div>
                                }
                            </div>
                        </a>
                        @if (User.IsAuthorized())
                        {
                            <div class="row" style="justify-content:center">
                                <a class="btn btn-primary own-btn own-btn-cart col-10" asp-action="AddToCart" asp-route-itemId="@item.Id"> @Resources.Common.AddToCart</a>
                                <a class="btn btn-secondary own-btn own-btn-wish col-10" asp-action="AddToWishList" asp-route-itemId="@item.Id"> @Resources.Common.AddToWishList</a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

    </div>

</div>
