@model IEnumerable<BLL.App.DTO.Warehouse>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">
        @Resources.Domain.Warehouse.Warehouse.AddWarehouseToList
    </a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Resources.Domain.Warehouse.Warehouse.Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var warehouse in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => warehouse.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@warehouse.Id">@Resources.Common.Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>