@model BLL.App.DTO.Category

<h4>@Resources.Domain.Category.Category.CategoryUnit</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Resources.Domain.Category.Category.Name
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Resources.Domain.Category.Category.ParentCategory
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ParentCategory!.Name)
    </dd>
</dl>